@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 257 47% 11%; /* Dark Blue/Purple */
    --foreground: 210 40% 98%; /* White */

    --card: 257 40% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 257 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 327 98% 54%; /* Neon Pink */
    --primary-foreground: 210 40% 98%;

    --secondary: 60 100% 50%; /* Neon Yellow */
    --secondary-foreground: 257 47% 11%;

    --muted: 257 30% 25%;
    --muted-foreground: 210 40% 98%;

    --accent: 200 100% 50%; /* Neon Blue */
    --accent-foreground: 257 47% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 257 30% 30%;
    --input: 257 30% 25%;
    --ring: 327 98% 54%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: hsl(var(--background));
    background-image: radial-gradient(circle, hsl(257 47% 11%) 0%, #0c0a1e 100%);
  }
}

@layer utilities {
  .text-shadow-neon-pink {
    text-shadow: 0 0 5px hsl(var(--primary)), 0 0 10px hsl(var(--primary));
  }
  .text-shadow-neon-yellow {
    text-shadow: 0 0 5px hsl(var(--secondary)), 0 0 10px hsl(var(--secondary));
  }
   .text-shadow-neon-blue {
    text-shadow: 0 0 5px hsl(var(--accent)), 0 0 10px hsl(var(--accent));
  }
}
